.App {
  display: flex;
  padding: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__input {
  margin-bottom: 10px;
}

td {
  width: 40px;
  height: 40px;
  text-align: center;
}

table, th, td {
  border: 1px solid black
}